body {
  font-family: "Roboto";
}

/* navbar */
.navbar {
  background-color: #141414 !important;
  /* height: 100px; */
  border-bottom: 1px solid #3d3d3c;
}

.navbar .navbar-brand {
  font-family: "Reem Kufi";
  font-size: 40px;
}

.navbar ul li a {
  color: white !important;
  font-weight: 300;
}

.navbar ul li .active {
  color: #f4be2d !important;
  font-weight: 700;
}

.navbar ul li a:hover {
  color: #f4be2d !important;
  font-weight: 700;
}

.navbar .dropdown-menu {
  font-size: 15px;
}

.navbar .dropdown-menu a:hover {
  background-color: transparent;
}
/* akhir navbar */

/* slider */
.slider {
  margin-top: 87px;
}
/* akhir slider */

/* title-items */
.title-items {
  background-color: #141414;
}

.title-items h3 {
  font-family: "Righteous";
  font-size: 25px;
  color: white;
  padding: 45px;
}
/* akhir title-items */

/* items */
.items {
  background-color: #141414;
  height: 400px;
}

.items .carousel figcaption p {
  text-align: center;
  text-transform: uppercase;
  color: white;
  font-weight: 500;
  font-size: 18px;
  margin-top: 27px;
}
/* akhir items */

/* res-items */
.res-items {
  display: none;
  background-color: #141414;
}

.res-items figcaption p {
  text-align: center;
  text-transform: uppercase;
  color: white;
  font-size: 18px;
  font-weight: 500;
  margin-top: 20px;
}
/* akhir res-items */

/* footer */
footer {
  background-color: #141414;
  color: white;
  padding-top: 65px;
  padding-bottom: 63px;
  border-top: 1px solid #3d3d3c;
}

footer a {
  text-decoration: none;
}

footer h5 {
  font-family: "Reem Kufi";
  font-size: 25px;
  color: white;
}

footer p {
  font-weight: 300;
}

footer p span:hover {
  color: #f4be2d;
  cursor: pointer;
}
/* akhir footer */

/* CONTACT PAGE */
.contact {
  background-color: #141414;
  margin-top: 87px;
  color: white;
  padding-top: 50px;
  padding-bottom: 70px;
}

.contact h3 {
  margin-bottom: 40px;
  font-family: "Righteous";
  font-size: 35px;
}

.contact .form-group {
  margin-bottom: 30px;
}

.contact .form-group:nth-child(4) {
  margin-bottom: 60px;
}

.contact form button {
  font-weight: 500;
  font-size: 20px;
  background-color: #354ef5 !important;
}

.contact form {
  font-size: 20px;
  font-weight: 300;
}

/* PRODUCT PAGE */
.bread-crumb {
  margin-top: 87px;
  background-color: #141414;
  font-size: 18px;
  font-weight: 300;
  padding-top: 25px;
  padding-bottom: 24px;
}

.bread-crumb .breadcrumb a {
  text-decoration: none;
  color: #f4be2d;
}

.bread-crumb .breadcrumb li {
  color: white;
}

.banner {
  background-color: #141414;
  padding-bottom: 50px;
}

.banner .jumbo {
  /* background-image: url("../img/banner/processor.jpg"); */
  background-size: cover;
  background-position-y: center;
  height: 300px;
}

.products {
  background-color: #141414;
  color: white;
  padding-bottom: 100px;
}

.products h3 {
  font-family: "Righteous";
  font-size: 30px;
}

.products .accordion button {
  color: white !important;
  border-bottom: 1px solid #ded5d5;
}

.sidebar-right .card {
  width: 168px;
  margin-bottom: 30px;
}

.sidebar-right .card h5 {
  font-size: 16px;
  font-weight: 400;
}

.sidebar-right .card button {
  margin-top: 5px;
  font-size: 14px;
  font-weight: 500;
  background-color: #354ef5 !important;
}

.modal .modal-content {
  background-color: #141414 !important;
  color: white;
  box-shadow: 1px 1px 3px rgba(255, 255, 255, 0.1),
    -1px -1px 3px rgba(255, 255, 255, 0.2);
}

.modal .modal-header h5 {
  font-weight: 500;
  font-size: 25px;
}

.modal .modal-content button {
  background-color: #f4be2d;
  color: #141414;
  font-weight: 500;
}

.modal .modal-body a {
  text-decoration: none;
}

.modal .modal-body .market-place h5 {
  font-size: 20px;
  font-family: "Righteous";
}

.modal .modal-body .product-specs {
  height: 400px;
  overflow-y: scroll;
}

.modal .modal-body .product-specs h5 {
  color: white;
  font-size: 25px;
  font-family: "Righteous";
  margin-bottom: 20px;
  margin-top: 20px;
}


.modal .modal-body .table {
  background-color: #141414 !important;
  color: white;
}

.modal .modal-body .table tr td:nth-child(1) {
  width: 30%;
}

